/* Global Reset */
html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  height: 100%;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #404040;
  height: 100%;
  width: 100%;
}

h1 {
  
}

h2 {

}

h3 {

}

input {

}

input:focus {
  outline: 0;
}

.container {
  height: 100%;
}

/* Landing Page */

.landing-page-container {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.landing-page-header {
  margin-top: 20px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #404040;
  border-radius: 3px;
  text-align: center;
  font-weight: normal;
}

.landing-page-sub-header {
  margin-top: 30px;
  text-align: center;
  font-weight: normal;
}

.product-description-div {
  text-align: center;
  margin-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
  color: white;
}

.product-description-p {

}

.next-to-product {
  position: absolute;
  margin-top: 10px;
  width: 100%;
  height: 220px;
  background: url('../images/waterBW.jpg');
  background-position: bottom;
  z-index: -1;
}

/* input */

.email-input-div {
  margin-top: 10px;
  text-align: center;
}

.email-input {
  width: 250px;
  height: 30px;
  border-top: none;
  border-left: none;
  border-right: none;
  color: white;
  line-height: 2em;
  text-align: center;
  text-transform: capitalize;
  font-size: 1em;
  background: transparent;
}

.email-submit {
  display: block;
  margin: auto;
  margin-top: 10px;
  border: 2px solid white;
  border-radius: 3px;
  background: transparent;
  color: white;
}

.email-submit:focus {
  outline: 0;
}

.email-submit:hover {
  background: white;
  color: #404040;
}

.earsDiv {
  margin-top: 20px;
  margin-left: -1000px;
  width: 100%;
  height: 150px;
  text-align: center;
  -webkit-animation: move_left 1.5s ease-out 0s 1 normal both;
     -moz-animation: move_left 1.5s ease-out 0s 1 normal both;
       -o-animation: move_left 1.5s ease-out 0s 1 normal both;
          animation: move_left 1.5s ease-out 0s 1 normal both;
}

.leftEar {
  display: inline-block;
  width: 45%;
  height: 150px;
  background: url('../images/leftEar.png');
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.rightEar {
  display: inline-block;
  width: 45%;
  height: 150px;
  background: url('../images/rightEar.png');
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}

/* How Does It Work */

.how-div {
  margin-top: 30px;
  text-align: center;
}

.how-header {
  font-weight: normal;
}

.steps-list {
  margin-top: 10px;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  list-style: none;
}

.step-item {
  margin-top: 10px;
}

.headphone-manufacturer-list {
  height: 50px;
  -webkit-animation: move_right 1.5s ease-out 0s 1 normal both;
     -moz-animation: move_right 1.5s ease-out 0s 1 normal both;
       -o-animation: move_right 1.5s ease-out 0s 1 normal both;
          animation: move_right 1.5s ease-out 0s 1 normal both;
}



.headphone-manufacturer-bose {
  display: inline-block;
  background: url('../images/bose.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 30%;
  height: 50px;
  opacity: 0.8;
}

.headphone-manufacturer-shure {
  display: inline-block;
  background: url('../images/monsterLogo.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 30%;
  height: 50px;
  opacity: 0.8;
}

.headphone-manufacturer-monster {
  display: inline-block;
  background: url('../images/shure.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 30%;
  height: 50px;
  opacity: 0.8; 
}

.checkout-img {
  background: url('../images/shopping_bag.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 120px;
  opacity: 0.8;
  margin-top: 15px;
  -webkit-animation: move_left 1.5s ease-out 0s 1 normal both;
     -moz-animation: move_left 1.5s ease-out 0s 1 normal both;
       -o-animation: move_left 1.5s ease-out 0s 1 normal both;
          animation: move_left 1.5s ease-out 0s 1 normal both;
}

.explanation-div {
  margin-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  font-size: 1.1em;
}

.explanation-process-div {
  width: 100%;
}

.explanation-process {
  display: inline-block;
  width: 18%;
  opacity: 0.8;
  font-size: 9px;
}

.explanation-img-photo{
  background: url('../images/polaroids.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
}

.explanation-arrow-one{
  background: url('../images/arrow_right.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
}

.explanation-img-print{
  background: url('../images/layers.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
}

.explanation-arrow-two{
  background: url('../images/arrow_right.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
}

.explanation-package{
  background: url('../images/home.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
}


/* Footer */

.footer {
  width: 100%;
  height: 30px;
  margin-top: 30px;
  padding-top: 5px;
  border-top: 2px solid #404040;
  color: white;
}

.footer-social-links {
  display: inline-block;
  color: #404040;
  text-align: center;
  width: 100%;
  cursor: pointer;
  opacity: 0.8;
}

.facebook {
  margin: 10px;
  height: 30px;
}

.twitter {
  margin: 10px;
  height: 30px;
}

.instagram {
  margin: 10px;
  height: 30px;
}

.contact {
  margin: 10px;
  height: 30px;
}

@media only screen and (min-width: 480px) {
  .next-to-product {
    height: 200px;
  }
}


/* Tablet Layout ****************/

@media only screen and (min-width: 768px) {
  html {

  }

  body {

  }

  h1 {
    
  }

  h2 {

  }

  h3 {

  }

  .container {

  }

  /* Landing Page */

  .landing-page-container {

  }

  .landing-page-header {

  }

  .landing-page-sub-header {

  }

  .product-description-div {
    margin-top: 80px;
    font-size: 25px;
  }

  .product-description-p {

  }

  .next-to-product {
    height: 380px;
    background-position: bottom;
  }

  /* input */

  .email-input-div {
    margin-top: 50px;
    font-size: 20px;
  }

  .email-input {
    color: white;
    width: 350px;
  }

  .email-submit {
    margin-top: 30px;
    width: 200px;
    height: 40px;
    font-size: 25px;
    cursor: pointer;
  }

  .email-submit:focus {
    outline: 0;
  }

  .email-submit:hover {
    background: white;
    color: #404040;
  }

  .email-input:focus {
  
  }

  .earsDiv {
    margin-top: 40px;
  }

  .leftEar {

  }

  .rightEar {

  }

  /* How Does It Work */

  .how-div {
    margin-top: 100px;
  }

  .how-header {

  }

  .steps-list {

  }

  .step-item {
    margin-top: 60px;
  }

  .headphone-manufacturer-list {
    margin-top: 30px;
  }

  .headphone-manufacturer-bose {

  }

  .headphone-manufacturer-shure {

  }

  .headphone-manufacturer-monster {

  }

  .checkout-img {
    margin-top: 30px;
  }

  .explanation-div {
    margin-top: 30px;
  }

  .explanation-process-div {
    margin-top: 50px;
  }

  .explanation-process {
    font-size: 14px;
  }

  .explanation-img-photo{
    margin-bottom: 20px;
  }

  .explanation-arrow-one{

  }

  .explanation-img-print{
    margin-bottom: 20px;
  }

  .explanation-arrow-two{

  }

  .explanation-package{
    margin-bottom: 20px;
  }


  /* Footer */

  .footer {

  }

  .footer-social-links {

  }

  .facebook {
    margin-left: 40px;
    margin-right: 40px;
  }

  .twitter {
    margin-left: 40px;
    margin-right: 40px;
  }

  .instagram {
    margin-left: 40px;
    margin-right: 40px;
  }

  .contact {
    margin-left: 40px;
    margin-right: 40px;
  }
}

/* Desktop Layout **************/

@media only screen and (min-width: 1024px) {

}

/* Key Frames*/

@-webkit-keyframes move_left { from { margin-left:-1000px; } to { margin-left:0px; }  }
   @-moz-keyframes move_left { from { margin-left:-1000px; } to { margin-left:0px; }  }
     @-o-keyframes move_left { from { margin-left:-1000px; } to { margin-left:0px; }  }
        @keyframes move_left { from { margin-left:-1000px; } to { margin-left:0px; }  }

@-webkit-keyframes move_right { from { margin-left:1400px; } to { margin-left:0px; }  }
   @-moz-keyframes move_right { from { margin-left:1400px; } to { margin-left:0px; }  }
     @-o-keyframes move_right { from { margin-left:1400px; } to { margin-left:0px; }  }
        @keyframes move_right { from { margin-left:1400px; } to { margin-left:0px; }  }
