<div class='landing-page-container'>
  <h1 draggie class='landing-page-header'>AUERAS</h1>
  <h2 class='landing-page-sub-header'>Earbud Tips That Fit</h2>

  <div class='next-to-product'></div>
  <div class='product-description-div'>
    <p class='product-description-p'>
      You wouldn't try fitting a square peg into a round hole, so why wear in-ear headphones that don't fit?
      <br><br>
      Aueras ear bud tips are for those of us that value comfort when listening to our music. 
    </p>
  </div>

  <div class='email-input-div'>
    <input type='input' class='email-input' ng-model='emailForm' ng-click='emailForm = ""' ng-blur='checkForm()'>
    <input type='submit' class='email-submit' value='Sign Up' ng-click='validateEmail()'>
  </div>


  <div class='how-div'>
    <h2 class='how-header'>How Does It Work?</h2>
    <ul class='steps-list'>
      <li class='step-item'>1. Take a picture of both your ears and upload it using the Aueras app</li>
      <div class='earsDiv'>
        <div class='leftEar'></div>
        <div class='rightEar'></div>
      </div>
      <li class='step-item'>2. Choose your in-ear headphone manufacturer</li>
      <ul class='headphone-manufacturer-list'>
        <li class='headphone-manufacturer-monster'></li>
        <li class='headphone-manufacturer-bose'></li>
        <li class='headphone-manufacturer-shure'></li>
      </ul>
      <li  class='step-item'>3. Checkout</li>
      <div class='checkout-img'></div>
    </ul>
  </div>


  <div class='explanation-div'>
    <div>We use sophisticated formulas to analyze your ears in combination with 3D printing techniques to create custom perfect-fit ear bud tips shipped right to your door.
    </div>
    <div class='explanation-process-div'>
      <div class='explanation-process'>
        <div class='explanation-img-photo'></div>
        <br>
        Photo Analysis
      </div>
      <div class='explanation-process'>
        <div class='explanation-arrow-one'></div>
        <br><br><br>
      </div>
      <div class='explanation-process'>
        <div class='explanation-img-print'></div>
        <br>
        3D Design and Print
      </div>
      <div class='explanation-process'>
        <div class='explanation-arrow-two'></div>
        <br><br><br>
      </div>
      <div class='explanation-process'>
        <div class='explanation-package'></div>
        <br>
        Delivery To Your Door
      </div>
    </div>
  </div>


  <footer class='footer'>
    <div class='footer-social-links'>
      <a href='#'><img class='facebook' src='../../images/facebook_1.png'></a>
      <a href='#' ><img class='twitter' src='../../images/twitter.png'></a>
      <a href='#'><img class='instagram' src='../../images/instagram.png'></a>
      <a href='mailto:jsgoldberg90@gmail.com'><img class='contact' src='../../images/mail.png'></a>
      </div>
  </footer>

</div>

